
<form [formGroup]="employeeForm" (ngSubmit) = "submit()">
  <div class="form-group" >
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter name" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="text" class="form-control" formControlName="address" placeholder="Address" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">City</label>
    <input type="text" class="form-control" formControlName="city" placeholder="Enter city" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">State</label>
    <input type="text" class="form-control" formControlName="state" placeholder="Enter state" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Zip</label>
    <input type="text" class="form-control" formControlName="zip" placeholder="Enter Zip Code" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Phone number</label>
    <input
      type="text"
      class="form-control" formControlName="phone"
      placeholder="Enter your cell number"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Job Title</label>
    <input type="text" class="form-control" formControlName="title" placeholder="Job title" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date hired</label>
    <input type="date" class="form-control" formControlName="dateJoined" placeholder="Date" />
  </div>
  <br />
 
  <button type="submit" class="btn btn-primary">Submit</button>
 </form>